@{
    ViewBag.Title = "Home Page";
}

<h1>Index</h1>
@Html.ActionLink("Register", "Register", "Account")
@Html.ActionLink("Login", "Login", "Account")
@if (Request.IsAuthenticated)
{
    <p>Зареган</p>
}


