    <h3>Items</h3>
    <div>
        <div ng-repeat="i in items>
            <ul>
                <li>{{i.Record}}</li>
                <li>{{i.IsCompleted}}</li>
                <li>{{i.IsMarked}}</li>
            </ul>
        </div>
    </div>
